* {
    text-decoration: none !important;
}

body {
    background-color: #f2f0f0;
    min-height: 100vh;
    padding: 0 0;
    margin: 0;
    box-sizing: border-box !important;
}

.navbar {
    background-color: lightsteelblue; !important;
}
main {
    margin-top: 1rem;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin-top: 80px;
    padding-bottom: 10px;
    text-align: center;
    background-color: lightsteelblue;
    color: white;

}